################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
Alexa-Skill/bin
Alexa-Skill/obj


/.vs
/Alexa-Skill/bin
/Alexa-Skill/obj
